.bg-custom1 {
    background-color: #EB1D20;
}



.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navBrand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}