@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;600&display=swap');

.mainFont {
    font-family: 'Exo';
}

.bg-custom1 {
    background-color: #EB1D20;
}

.text-custom1 {
    color: #EB1D20;
}



.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navBrand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}